
extends template

block pageVars
	- var pageTitle = "Brand Settings"
	- var pageSubTitle = "Check out this brand, yo"
	- var description = "This tells you what the page does"
	- var activeMenu = "brand-settings"

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"}, {name:"Brand Settings"}])

//- Include page content in page block
append content
	include ../contents/appearance-brand-settings.html
