
extends template

block pageVars
	- var pageTitle = "Support"
	- var pageSubTitle = "Subtitle"
	- var description = "This tells you what the page does"
	- var activeMenu = "content-support"

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"}, {name:"Support"}])

//- Include page content in page block
append content
	include ../contents/content-support.html
