
extends template

block pageVars
	- var pageTitle = "FAQs"
	- var pageSubTitle = "Subtitle"
	- var description = "This tells you what the page does"
	- var activeMenu = "content-faqs"

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"}, {name:"FAQs"}])

//- Include page content in page block
append content
	include ../contents/content-faqs.html
