
extends template

block pageVars
	- var pageTitle = "Consent"
	- var pageSubTitle = "Subtitle"
	- var description = "This tells you what the page does"
	- var activeMenu = "content-consent"

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"}, {name:"Consent"}])

//- Include page content in page block
append content
	include ../contents/content-consent.html
