//- =========================================================================================
	File Name: notifications-documents.pug
	Description: Document Notifications
	----------------------------------------------------------------------------------------
	Item Name: Lanvera Components
	Version: 1.0
	Author: Lanvera
	Author URL: http://www.lanvera.com
	==========================================================================================


extends template

block pageVars
	- var pageTitle = "Document Notifications"
	- var pageSubTitle = "Check out these document notifications"
	- var description = "This tells you what the page does"
	- var activeMenu = "document-notifications"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Notifications"}, {name:"Document Notifications"}])

//- Include page content in page block
append content
	include ../contents/notifications-document.html
