
extends template

block pageVars
	- var pageTitle = "Customer Reports"
	- var pageSubTitle = "Check out these reports, yo"
	- var description = "This tells you what the page does"
	- var activeMenu = "customer-reports"

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"}, {name:"Customer Reports"}])

//- Include page content in page block
append content
	include ../contents/reports-customers.html
