
extends template

block pageVars
	- var pageTitle = "Notification Reports"
	- var pageSubTitle = "Check out these reports, yo"
	- var description = "This tells you what the page does"
	- var activeMenu = "notification-reports"

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"}, {name:"Notification Reports"}])

//- Include page content in page block
append content
	include ../contents/reports-notifications.html
