
extends template

block pageVars
	- var pageTitle = "Domain URLs"
	- var pageSubTitle = "Subtitle"
	- var description = "This tells you what the page does"
	- var activeMenu = "settings-domain-urls"

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"}, {name:"Domain URLs"}])

//- Include page content in page block
append content
	include ../contents/settings-domain-urls.html
