- var sk_path = "../../../starter-kit/"+ useDirection +"/"+ useLayout +"/"
- var query_string = "?lng=en"

//- main menu
//- .main-menu(class=menuType + ' ' + menuColor + ' ' + menuOpenType, class=(menuNativeScroll == true ? 'menu-native-scroll' : ''), class=(menuIconRight == true ? 'menu-icon-right' : ''), class=(menuDevider == true ? 'menu-bordered' : ''), class=(menuShadow == true ? 'menu-shadow' : ''), class=(menuBorder == true ? 'menu-border' : '') data-scroll-to-active="true")

.main-menu(class= menuType + ' ' + menuColor + ' ' + menuOpenType + ' ' +(menuNativeScroll == true ? 'menu-native-scroll' : '') + ' ' +(menuIconRight == true ? 'menu-icon-right' : '') + ' ' +(menuDevider == true ? 'menu-bordered' : '') + ' ' +(menuShadow == true ? 'menu-shadow' : '') + ' ' +(menuBorder == true ? 'menu-border' : '') data-scroll-to-active="true")

  //- main menu header
  include includes/menu-header
  //- / main menu header

  //- main menu content
  .main-menu-content
    +verticalMenu([



      {url:"dashboard.html",name:"Dashboard",icon:"la la-dashboard",slug:"dashboard"},



      {navheader:"Manage",icon:"la la-ellipsis-h", i18n:"nav.category.manage"},


        {url:"#", name:"Documents",icon:"", slug:"documents",icon:"la la-copy", i18n:"nav.documents.main",
          submenu:[
            {url:"documents-documents.html", name:"Documents",icon:"", slug:"documents-list", i18n:"nav.documents.documents_list"},
            {url:"documents-cards.html", name:"Cards",icon:"", slug:"cards", i18n:"nav.documents.cards"},
            {url:"documents-categories.html", name:"Categories",icon:"", slug:"categories", i18n:"nav.documents.categories"},
            {url:"documents-settings.html", name:"Settings",icon:"", slug:"document-settings", i18n:"nav.documents.document-settings"},
          ]
        },



        {url:"#",name:"Notifications",icon:"la la-bell",slug:"notifications", i18n:"nav.notifications.main",

          submenu:[
            {url:"notifications-document.html",name:"Document Notifications",slug:"document-notifications", i18n:"nav.notifications.document_notifications"},
            {url:"notifications-system.html",name:"System Notifications",slug:"system-notifications", i18n:"nav.notifications.system_notifications"},
            {url:"notifications-settings.html",name:"Settings",slug:"notifications-settings", i18n:"nav.notifications.notifications_settings"}
          ]
        },



        {url:"customers.html",name:"Customers",icon:"la la-user",slug:"customers"},



        {url:"#",name:"Reports",icon:"la la-bar-chart",slug:"reports-pages", i18n:"nav.reports.main",

          submenu:[
            {url:"reports-customers.html",name:"Customer Reports",slug:"customer-reports", i18n:"nav.reports.customer_reports"},
            {url:"reports-documents.html",name:"Document Reports",slug:"document-reports", i18n:"nav.reports.document_reports"},
            {url:"reports-notifications.html",name:"Notification Reports",slug:"notification-reports", i18n:"nav.reports.notification_reports"}
          ]
        },



      {navheader:"Customer Site",icon:"la la-ellipsis-h", i18n:"nav.category.customer_site"},



        {url:"#",name:"Appearance",icon:"la la-paint-brush",slug:"appearance-pages", i18n:"nav.appearance.main",

          submenu:[
            {url:"appearance-brand-settings.html",name:"Brand Settings",slug:"brand-settings", i18n:"nav.appearance.brand_settings"},
            {url:"appearance-site-menu.html",name:"Site Menu",slug:"site-menu", i18n:"nav.appearance.site_menu"},
          ]
        },



        {url:"#",name:"Content",icon:"la la-list",slug:"content-pages", i18n:"nav.content.main",

          submenu:[
            {url:"content-sidebar.html",name:"Sidebar",slug:"content-sidebar", i18n:"nav.content.sidebar"},
            {url:"content-banner.html",name:"Banner",slug:"content-banner", i18n:"nav.content.banner"},
            {url:"content-consent.html",name:"Consent",slug:"content-consent", i18n:"nav.content.consent"},
            {url:"content-support.html",name:"Support",slug:"content-support", i18n:"nav.content.support"},
            {url:"content-faqs.html",name:"FAQs",slug:"content-faqs", i18n:"nav.content.faqs"}
          ]
        },



        {url:"#",name:"Settings",icon:"la la-gear",slug:"settings", i18n:"nav.settings.main",

          submenu:[
            {url:"settings-domain-urls.html",name:"Domain URLs",slug:"settings-domain-urls", i18n:"nav.settings.domain_urls"},
            {url:"settings-customer-access.html",name:"Customer Access",slug:"settings-customer-access", i18n:"nav.settings.customer_access"}
          ]
        },



      {navheader:"Admin Portal",icon:"la la-ellipsis-h", i18n:"nav.category.admin_portal"},



      {url:"#",name:"Users & Access",icon:"la la-lock",slug:"users-access"},



    ])

  //- /main menu content

  //- main menu footer
  //- include includes/menu-footer
  //- main menu footer
//- / main menu
