.content-header-left.col-md-6.col-12.mb-2
  h3.content-header-title.mb-0 #{pageTitle}
  .row.breadcrumbs-top.d-none
    block breadcrumbs
      +breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Page headers"}, {name:"Breadcrumbs with button"}])
.content-header-right.text-md-right.col-md-6.col-12.mb-3
  button.btn.btn-outline-secondary.mr-1(type='button')
    i.icon-cog3
    |  Cancel
  button.btn.btn-info(type='button')
    i.icon-cog3
    |  Save
