//-
	Modifiers :
	.footer-fixed : For fixed footer
	.footer-dark, .footer-dark, footer-transparent : For footer light, dark & transparent option

footer(class="footer " + footerType +' ' + footerColor, class=(footerBorder == true ? 'navbar-border' : ''), class=(footerShadow == true ? 'navbar-shadow' : ''))
	p.clearfix.text-sm-center.mb-0.px-2(class= (centerLayout == true ? 'container center-layout' : ''))
		span.float-md-left.d-block.d-md-inline-block
			| Copyright  &copy; #{new Date().getFullYear()}
			a(href='#', target='_blank', class="text-bold-800") Lanvera
			|, All rights reserved.
